@font-face {
  font-family: 'Source Sans Pro';
  src: url('SourceSansPro-Regular.otf') format('opentype');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: url('SourceSansPro-Semibold.otf') format('opentype');
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: url('SourceSansPro-It.otf') format('opentype');
  font-style: italic;
  font-weight: 400;
}

@font-face {
  font-family: 'Source Code Pro';
  src: url('SourceCodePro-Regular.otf') format('opentype');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Source Code Pro';
  src: url('SourceCodePro-Bold.otf') format('opentype');
  font-style: normal;
  font-weight: 700;
}
